
.intro-video-section:before{
    position: absolute;
    content: '';
    background-color: #1b1d21;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: 0.6;
  }
.intro-video-section {
    width: 100%;
    padding: 250px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.ytdl-handle-btn{
    display: none !important;
}
.intro-video {
    width: 100%;
    height: 315px;
}
.video-box {
    width: 200px;
    margin: 0 auto;
}
.popup-youtube {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 100px;
    color: #ffffff;
    border-radius: 50%;
    text-align: center;
}
.popup-youtube:hover{
    color: skyblue;
}


.hot-property {
    overflow: hidden;
    padding:120px auto;
}
.owl-nav {
    position: absolute;
    top: -100px;
    right: 124px;
    font-size: 48px;
}
.owl-nav button {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #e5e7ec;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    color: #9799a2;
    background: transparent;
    cursor: pointer;
    z-index: 1;
    transition: all 500ms ease;
}

.owl-prev{
    margin-right: 20px;
}
.owl-next{}

/* footer */
.footer-top {
    position: relative;
    display: block;
    background-color: #1b1d21;
    color: rgba(255,255,255,0.5);
    padding: 80px 0px;
}
.footer-top ul {
    list-style-type:none;
}
.footer-top ul li a, a{
    text-decoration: none;
    color: rgba(255,255,255,0.5);
}

.footer-bottom {
    position: relative;
    display: block;
    background-color: #272a2f;
    color: rgba(255,255,255,0.5);
    padding-top:20px;
    padding-bottom:5px;
}
.footer-bottom a {
    color: rgba(255,255,255,0.5);
    text-decoration: none;
}
.copyright-right {
    list-style-type: none;
}
.copyright-right li{
    display: inline-block;
    float: left;
    padding-right: 5px;
}

.footer--ttitle,.footer-title h3 {
    color: #fff;
    font-size: 22px;
    margin-bottom: 30px;
}
.footer-info-list {}
.footer-info-list li{
    line-height: 40px;
    margin-top: 15px;
}
.footer-info-list li i {
    font-size: 18px;
    color: skyblue;
}
.footer-info-list li small {
    width: 20%;
    float: left;
    display: inline-block;
}
.footer-info-list li span {
    width:80%;
    display:inline-block;
    float: right;
    font-size: 14px;
}


.footer-post-inner img{
    border-radius: 5px;
    height:100px;
}

